#container {
  border: 1px solid rgb(0, 0, 0);
  display: grid;
  grid-template-columns: 1fr repeat(15, 1fr);
  width: 960px;
  height: 960px;
}

.grid {
  width: auto;
  height: auto;
}

.black {
  background-color: rgb(0, 0, 0);
}